{% extends 'layout/admin' %}

{% block styles %}
  {% include 'partials/styles.njk' %}
{% endblock %}

{% block content %}
  <div class="error">
    <div class="error-code m-b-10">{{ code }} <i class="fa fa-warning"></i></div>
    <div class="error-content">
      <p class="error-message">{{ message }}</p>
      <div>
        <a href="/" class="btn btn-success">Вернутся на главную</a>
      </div>
    </div>
  </div>
{% endblock %}

