{% block navbar %}
  <div class="header navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/admin" class="navbar-brand">
          <span class="navbar-logo"></span>
          DirectMAN Admin
        </a>
      </div>

      <ul class="nav navbar-nav navbar-left">
        <li>
          <div class="navbar-form full-width">
            <div class="form-group">
              <a href="/" target="_blank" class="btn btn-success m-r-5 m-b-5">На сайт</a>
              <a href="/auth/logout" class="btn btn-danger m-r-5 m-b-5">Выйти</a>
            </div>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if currentUser.username %}
          <li>
            <form class="navbar-form full-width">
              <div class="form-group">

              </div>
            </form>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endblock %}

