<script src="/js/jquery-1.9.1.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/monaco/min/vs/loader.js"></script>
<script src="/js/jquery.gritter.js"></script>
<script src="/js/apps.js"></script>
<script src="/tinymce/tinymce.min.js"></script>

<script>
  $(document).ready(function() {
    App.init();
  });
</script>

