{% block sidebar %}
  <div class="sidebar">
    <ul class="nav">
      {% if currentUser.username %}
        <li class="nav-profile">
          <div class="image">
            <a href="javascript:;"><img src="/assets/user-13.jpg" alt=""></a>
          </div>
          <div class="info">
            {{ currentUser.username }}
            <small>{{ currentUser.email }}</small>
          </div>
        </li>
      {% endif %}
      <li class="nav-header">Меню</li>
      <li class="has-sub">
        <a href="/admin/order/">
          <i class="fa fa-cubes"></i>
          <span>Заказы</span>
        </a>
      </li>
      <li class="has-sub">
        <a href="/admin/customer/">
          <i class="fa fa-database"></i>
          <span>Клиенты</span>
        </a>
      </li>
      <li class="has-sub">
        <a href="/admin/service/">
          <i class="fa fa-star"></i>
          <span>Тарифы</span>
        </a>
      </li>
      <li class="has-sub">
        <a href="/admin/portfolio">
          <i class="fa fa-suitcase"></i>
          <span>Портфолио</span>
        </a>
      </li>
      <li class="has-sub">
        <a href="/admin/doc/">
          <i class="fa fa-file-o"></i>
          <span>Документы</span>
        </a>
      </li>
      <li class="has-sub">
        <a href="/admin/tm/">
          <i class="fa fa-file-code-o"></i>
          <span>Редактор шаблонов</span>
        </a>
      </li>
      <li class="has-sub {% block menuactive %}{% endblock %}">
        <a href="/auth/list">
          <i class="fa fa-users"></i>
          <span>Добавить пользователя</span>
        </a>
      </li>
    </ul>
  </div>
{% endblock %}





