<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet" />
<link href="/css/font-awesome.css" rel="stylesheet" />
<link href="/css/jquery.gritter.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
<link href="/css/default.css" rel="stylesheet"/>
