{% extends 'layout/admin' %}

{% block styles %}
 {% include 'partials/styles.njk' %}
{% endblock %}

{% block  navbar %}
 {% include 'partials/navbar.njk' %}
{% endblock %}

{% block sidebar %}
  {% include 'partials/sidebar.njk' %}
{% endblock %}

{% block content %}
  <div class="content">
    <h1 class="page-header">
      Файловый Менеджер
    </h1>
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Список файлов</h4>
      </div>
      <div class="panel-body">
        <iframe src="//localhost:4444/fs/public/assets/" frameborder="0" width="100%" height="500px"></iframe>
      </div>
    </div>
  </div>
{% endblock %}

{% block  footer %}
  {% include 'partials/footer.njk' %}
{% endblock %}

{% block scripts %}
  {% include 'partials/scripts.njk' %}
{% endblock %}

