{% extends 'layout/admin' %}

 {% block styles %}
   {% include 'partials/styles.njk' %}
 {% endblock %}

 {% block  navbar %}
   {% include 'partials/navbar.njk' %}
 {% endblock %}

{% block sidebar %}
  {% include 'partials/sidebar.njk' %}
{% endblock %}

{% block content %}
  <div class="content">
    <h1 class="page-header">
      Пользователи
    </h1>

    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Список пользователей</h4>
      </div>
      <div class="panel-body">
        <div>
          <a href="/auth/add" class="btn btn-info m-r-5 m-b-5">Добавить</a>
        </div>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>Username</th>
            <th>Email Address</th>
          </tr>
          </thead>
          <tbody>
          {% if users|length > 0 %}
            {% for user in users %}
              <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }} </td>
              </tr>
            {% endfor %}
          {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block  footer %}
  {% include 'partials/footer.njk' %}
{% endblock %}

{% block scripts %}
  {% include 'partials/scripts.njk' %}
{% endblock %}

