{% extends 'layout/admin' %}

 {% block styles %}
   {% include 'partials/styles.njk' %}
 {% endblock %}

 {% block  navbar %}
   {% include 'partials/navbar.njk' %}
 {% endblock %}

{% block sidebar %}
  {% include 'partials/sidebar.njk' %}
{% endblock %}

{% block content %}
  <div class="content">
    <h1 class="page-header">
      Портфолио
    </h1>

    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Список моих работ</h4>
      </div>
      <div class="panel-body">
        <div>
          <a href="/admin/portfolio/add" class="btn btn-info m-r-5 m-b-5">Добавить</a>
        </div>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>Изображение</th>
            <th>Название</th>
            <th>Бюджет</th>
            <th>Просмотров</th>
            <th>Визитов</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          {% if portfolios|length > 0 %}
            {% for portfolio in portfolios %}
              <tr>
                <td>{{ portfolio.id }}</td>
                <td><img src="{{ portfolio.img }}" width="300px"></td>
                <td>{{ portfolio.name }}</td>
                <td>{{ portfolio.budget }} </td>
                <td>{{ portfolio.views }} </td>
                <td>{{ portfolio.visitors }} </td>
                <td>
                  {{ form.open({action: 'PortfolioController.delete', class: "form-horizontal"}) }}
                    {{ csrfField }}
                    {{ form.hidden('id', portfolio.id, {class: 'form-control'}) }}
                    {{ form.submit('Удалить', 'submit', {class: 'btn btn-xs btn-danger'}) }}
                  {{ form.close() }}
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="6"> К сожалению ничего не найдено</td>
            </tr>
          {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block  footer %}
  {% include 'partials/footer.njk' %}
{% endblock %}

{% block scripts %}
  {% include 'partials/scripts.njk' %}
{% endblock %}

