{% extends 'layout/admin' %}

 {% block styles %}
   {% include 'partials/styles.njk' %}
 {% endblock %}

 {% block  navbar %}
   {% include 'partials/navbar.njk' %}
 {% endblock %}

{% block sidebar %}
  {% include 'partials/sidebar.njk' %}
{% endblock %}

{% block content %}
  <div class="content">
    <h1 class="page-header">
      Тарифы
    </h1>

    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Список моих тарифов</h4>
      </div>
      <div class="panel-body">
        <div>
          <a href="/admin/service/add" class="btn btn-info m-r-5 m-b-5">Добавить</a>
        </div>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>Название</th>
            <th>Дополнительные услуги</th>
            <th>Цена</th>
            <th>Цена за доп услуги</th>
            <th>Описание</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          {% if services|length > 0 %}
            {% for service in services %}
              <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.name }}</td>
                <td>{{ service.desc|safe }} </td>
                <td>{{ service.price }} </td>
                <td>{{ service.support_price }}</td>
                <td>{{ service.text|safe }}</td>
                <td>
                  {{ form.open({action: 'ServiceController.delete', class: "form-horizontal"}) }}
                    {{ csrfField }}
                    {{ form.hidden('id', service.id, {class: 'form-control'}) }}
                    {{ form.submit('Удалить', 'submit', {class: 'btn btn-xs btn-danger'}) }}
                  {{ form.close() }}
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="6"> К сожалению ничего не найдено</td>
            </tr>
          {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block  footer %}
  {% include 'partials/footer.njk' %}
{% endblock %}

{% block scripts %}
  {% include 'partials/scripts.njk' %}
{% endblock %}

