{% extends 'layout/admin' %}

 {% block styles %}
   {% include 'partials/styles.njk' %}
 {% endblock %}

 {% block  navbar %}
   {% include 'partials/navbar.njk' %}
 {% endblock %}

{% block sidebar %}
  {% include 'partials/sidebar.njk' %}
{% endblock %}

{% block content %}
  <div class="content">
    <h1 class="page-header">
      Главная страница
    </h1>
    {% block  alert %}
      {% include 'partials/alert.njk' %}
    {% endblock %}

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-green">
          <div class="stats-icon"><i class="fa fa-comment"></i></div>
          <div class="stats-info">
            <h4>Заказы</h4>
            <p>{{ orders|length }}</p>
          </div>
          <div class="stats-link">
            <a href="/admin/order">Просмотреть <i class="fa fa-arrow-circle-o-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-blue">
          <div class="stats-icon"><i class="fa fa-users"></i></div>
          <div class="stats-info">
            <h4>Клиенты</h4>
            <p>{{ customers|length }}</p>
          </div>
          <div class="stats-link">
            <a href="/admin/customer">Просмотреть <i class="fa fa-arrow-circle-o-right"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}

{% block  footer %}
  {% include 'partials/footer.njk' %}
{% endblock %}

{% block scripts %}
  {% include 'partials/scripts.njk' %}
{% endblock %}

