@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima/subset-ProximaNova-BoldIt.eot');
  src: url('../fonts/proxima/subset-ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima/subset-ProximaNova-BoldIt.woff') format('woff'),
  url('../fonts/proxima/subset-ProximaNova-BoldIt.ttf') format('truetype'),
  url('../fonts/proxima/subset-ProximaNova-BoldIt.svg#ProximaNova-BoldIt') format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima/subset-ProximaNova-RegularIt.eot');
  src: url('../fonts/proxima/subset-ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima/subset-ProximaNova-RegularIt.woff') format('woff'),
  url('../fonts/proxima/subset-ProximaNova-RegularIt.ttf') format('truetype'),
  url('../fonts/proxima/subset-ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima/subset-ProximaNovaT-Thin.eot');
  src: url('../fonts/proxima/subset-ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima/subset-ProximaNovaT-Thin.woff') format('woff'),
  url('../fonts/proxima/subset-ProximaNovaT-Thin.ttf') format('truetype'),
  url('../fonts/proxima/subset-ProximaNovaT-Thin.svg#ProximaNovaT-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima/subset-ProximaNova-Semibold.eot');
  src: url('../fonts/proxima/subset-ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima/subset-ProximaNova-Semibold.woff') format('woff'),
  url('../fonts/proxima/subset-ProximaNova-Semibold.ttf') format('truetype'),
  url('../fonts/proxima/subset-ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima/subset-ProximaNova-ThinIt.eot');
  src: url('../fonts/proxima/subset-ProximaNova-ThinIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima/subset-ProximaNova-ThinIt.woff') format('woff'),
  url('../fonts/proxima/subset-ProximaNova-ThinIt.ttf') format('truetype'),
  url('../fonts/proxima/subset-ProximaNova-ThinIt.svg#ProximaNova-ThinIt') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima/subset-ProximaNova-Light.eot');
  src: url('../fonts/proxima/subset-ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima/subset-ProximaNova-Light.woff') format('woff'),
  url('../fonts/proxima/subset-ProximaNova-Light.ttf') format('truetype'),
  url('../fonts/proxima/subset-ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima/subset-ProximaNova-BlackIt.eot');
  src: url('../fonts/proxima/subset-ProximaNova-BlackIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima/subset-ProximaNova-BlackIt.woff') format('woff'),
  url('../fonts/proxima/subset-ProximaNova-BlackIt.ttf') format('truetype'),
  url('../fonts/proxima/subset-ProximaNova-BlackIt.svg#ProximaNova-BlackIt') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima/subset-ProximaNova-Extrabld.eot');
  src: url('../fonts/proxima/subset-ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima/subset-ProximaNova-Extrabld.woff') format('woff'),
  url('../fonts/proxima/subset-ProximaNova-Extrabld.ttf') format('truetype'),
  url('../fonts/proxima/subset-ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima/subset-ProximaNova-SemiboldIt.eot');
  src: url('../fonts/proxima/subset-ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima/subset-ProximaNova-SemiboldIt.woff') format('woff'),
  url('../fonts/proxima/subset-ProximaNova-SemiboldIt.ttf') format('truetype'),
  url('../fonts/proxima/subset-ProximaNova-SemiboldIt.svg#ProximaNova-SemiboldIt') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima/subset-ProximaNova-Regular.eot');
  src: url('../fonts/proxima/subset-ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima/subset-ProximaNova-Regular.woff') format('woff'),
  url('../fonts/proxima/subset-ProximaNova-Regular.ttf') format('truetype'),
  url('../fonts/proxima/subset-ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima/subset-ProximaNova-ExtrabldIt.eot');
  src: url('../fonts/proxima/subset-ProximaNova-ExtrabldIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima/subset-ProximaNova-ExtrabldIt.woff') format('woff'),
  url('../fonts/proxima/subset-ProximaNova-ExtrabldIt.ttf') format('truetype'),
  url('../fonts/proxima/subset-ProximaNova-ExtrabldIt.svg#ProximaNova-ExtrabldIt') format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima/subset-ProximaNova-LightIt.eot');
  src: url('../fonts/proxima/subset-ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima/subset-ProximaNova-LightIt.woff') format('woff'),
  url('../fonts/proxima/subset-ProximaNova-LightIt.ttf') format('truetype'),
  url('../fonts/proxima/subset-ProximaNova-LightIt.svg#ProximaNova-LightIt') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima/subset-ProximaNova-Bold.eot');
  src: url('../fonts/proxima/subset-ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima/subset-ProximaNova-Bold.woff') format('woff'),
  url('../fonts/proxima/subset-ProximaNova-Bold.ttf') format('truetype'),
  url('../fonts/proxima/subset-ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima/subset-ProximaNova-Black.eot');
  src: url('../fonts/proxima/subset-ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima/subset-ProximaNova-Black.woff') format('woff'),
  url('../fonts/proxima/subset-ProximaNova-Black.ttf') format('truetype'),
  url('../fonts/proxima/subset-ProximaNova-Black.svg#ProximaNova-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}
